Pillow
pip
wheel
pytz
numpy
setuptools
scipy
matplotlib
Django
asgiref
sqlparse
requests
joblib
pandas
python-dateutil
plotly
tenacity
certifi
six
idna
urllib3
contourpy
fonttools
pyparsing
cycler
packaging
kiwisolver
retrying
django-recaptcha
django-unixtimestampfield
surprise
chart_studio
Celery
