{% extends 'source/base.html' %}
{% load i18n %}
{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/header-footer.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/groupRecommandations.css' %}"/>
{% endblock %}
{% block header %}
    {% include "source/header.html" %}
{% endblock %}
{% block main %}
    <div class="container">
        <aside>
            <div class="title">
                <h1 class="text">{% trans 'Membres du groupe' %}</h1>
            </div>
            {% for user in membres %}
                <div class="user">
                    <div class="img">
                        <img src="{{ user.profile_picture.url }}" alt="avatar de l'utilisateur">
                    </div>
                    <div class="mail">
                        <p class="p">{{ user.mail }}</p>
                    </div>
                </div>
            {% endfor %}
            {% if chef %}
                <button class="btn-container">
                    <a class="suivant" href="{% url 'deleteGroup' groupe.pk %}">{% trans 'Supprimer le groupe' %}</a>
                </button>
            {% else %}
                <button class="btn-container">
                    <a class="suivant" href="{% url 'deleteUser' groupe.pk %}">{% trans 'Quitter le groupe' %}</a>
                </button>
            {% endif %}
        </aside>
        <div class="column">
            <div class="title">
                <h1 class="text">{% trans 'Vos recommandations' %}</h1>
            </div>
            <div class="grid">
                {% for element in recommandation %}
                    <a href="{% url 'vueRestaurant' element.pk %}" class="data-card">
                        <div class="img-card">
                            <img src="{{ element.image_front.url }}" alt="image du restaurant">
                        </div>
                        <div class="info-card">
                            <div class="name">
                                <span class="text nom">{{ element.nom }}</span>
                            </div>
                            <div class="flex align">
                                {% if element.note != -1 %}
                                    {% for i in list_etoiles_virgules %}
                                        {% if element.note >= i.nombre %}
                                            <div class="star-icon">
                                                <box-icon type='solid' color="#ffb503" ; name='star'></box-icon>
                                            </div>
                                        {% else %}
                                            {% if element.note >= i.nombre_virgule %}
                                                <div class="star-icon">
                                                    <box-icon type='solid' color="#ffb503" name='star-half'></box-icon>
                                                </div>
                                            {% else %}
                                                <div class="star-icon">
                                                    <box-icon color="#ffb503" name='star'></box-icon>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <div class="text">{% trans 'Pas de note' %}</div>
                                {% endif %}
                            </div>
                            <div class="nav-localisation text">
                                <div>{{ element.adresse }}</div>
                                <div>{{ element.ville }}</div>
                            </div>
                            <div class="text">({{ element.zip_code }})</div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
{% endblock %}
