{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/modifUser.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <title>modifUser</title>
</head>
<body>
<div class="backward">
    <a href="{% url 'index' %}">
        <div class="home-register fa fa-home"></div>
    </a>
</div>
<div class="title">
    <h2>Information Page</h2>
</div>
<div class="img-container flex">
    <div class="profil-container">
        <img src="{{ user.profile_picture.url }}" alt="photo de profil">
        <span class="profil-span opacity-null">Change</span>
    </div>
</div>

<div class="form-container">
    <form action="{% url 'modification' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="change-photo">
            <label for="photo">photo</label>
            <input class="profil" type="file" name="photo">
        </div>
        <div class="field">
            <div class="label">
                Prénom :
            </div>
            <input class="firstName" name="prenom" type="text" value="{{ user.prenom }}">
        </div>
        <div class="field">
            <div class="label">
                Nom :
            </div>
            <input class="lastName" name="nom" type="text" value="{{ user.nom }}">
        </div>
        <div class="field">
            <button type="submit" class="next-1">Valider</button>
        </div>
    </form>
</div>
<script src="{% static 'JS/modifUser.js' %}"></script>
</body>
</html>