{% extends 'source/base.html' %}
{% load i18n %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/register-login.css' %}"/>
    <script src="https://unpkg.com/htmx.org@1.8.4"></script>
{% endblock %}

{% block main %}
    <div class="backward">
        <a href="{% url 'index' %}">
            <div class="home-register fa fa-home"></div>
        </a>
    </div>
    <div class="body flex vertical-center justify-center">
        <div class="container form">
            <div class="form-outer">
                <form action="{% url 'verifMail' %}" method="POST" class="post-form margin-top-form ">
                    {% csrf_token %}
                    <div class="page slide-page">
                        <div class="title">
                            {% trans 'Veuillez entrer le code reçu par mail' %}
                        </div>
                        <div class="code">
                                 <input type="code" name="code"  class="input">
                        </div>

                        <div class="button-field flex">
                            <div class="split-button prev-4 prev btn"><p>{% trans 'Précédent' %}</p></div>
                            <button type="submit" class="split-button next-4 next save btn" value="type">{% trans 'Suivant' %}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
