{% extends 'source/base.html' %}
{% load i18n %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/register-login.css' %}"/>
    <script src="https://unpkg.com/htmx.org@1.8.4"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
{% endblock %}

{% block main %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="backward">
        <a href="{% url 'index' %}">
            <div class="home-register fa fa-home"></div>
        </a>
    </div>
    <div class="body flex vertical-center justify-center">
        <div class="container form">
            <div class="title-setting">{% trans 'Enregistrement' %}</div>
            <div class="progress-bar flex">
                <div class="step">
                    <p class="name-step">
                        {% trans 'Info' %}
                    </p>
                    <div class="circle-container">
                        <div class="circle">
                        <span class="number">
                            1
                        </span>
                        </div>
                        <div class="check fas fa-check"></div>

                    </div>
                </div>
                <div class="step">
                    <p class="name-step">
                        {% trans 'Perso' %}
                    </p>
                    <div class="circle-container">
                        <div class="circle">
                        <span class="number">
                            2
                        </span>
                        </div>
                        <div class="check fas fa-check"></div>
                    </div>
                </div>
                <div class="step">
                    <p class="name-step">
                        {% trans 'Date' %}
                    </p>
                    <div class="circle-container">
                        <div class="circle">
                    <span class="number">
                        3
                    </span>
                        </div>
                        <div class="check fas fa-check"></div>
                    </div>
                </div>
                <div class="step">
                    <p class="name-step">
                        {% trans 'Confirmation' %}
                    </p>
                    <div class="circle-container">
                        <div class="circle">
                    <span class="number">
                        4
                    </span>
                        </div>
                        <div class="check fas fa-check"></div>
                    </div>
                </div>
            </div>
            <div class="form-outer">
                <form action="{% url 'register' %}" method="POST" class="post-form ">
                    {% csrf_token %}
                    <div class="page slide-page">
                        <div class="title">
                            {% trans 'Informations' %}:
                        </div>
                        <div class="field">
                            <div class="label">
                                {% trans 'Prénom' %}
                            </div>
                            <input type="text" name="prenom" class="input firstName">
                            <div class="failInfo none">*{% trans 'Ce champ ne peut être vide' %}</div>
                        </div>
                        <div class="field">
                            <div class="label">
                                {% trans 'Nom de famille' %}
                            </div>
                            <input type="text" name="nom" class="input lastName">
                            <div class="failInfo none">*{% trans 'Ce champ ne peut être vide' %}</div>
                        </div>
                        <div class="field">
                            <div class="label">
                                {% trans 'Ville' %}
                            </div>
                            <select name="ville" class="input ville">
                                <option type="submit" class="btn-ville-ref">Philadelphia</option>
                                <option type="submit" class="btn-ville-ref">Tampa</option>
                                <option type="submit" class="btn-ville-ref">Indianapolis</option>
                                <option type="submit" class="btn-ville-ref">Nashville</option>
                                <option type="submit" class="btn-ville-ref">Tucson</option>
                                <option type="submit" class="btn-ville-ref">New Orleans</option>
                                <option type="submit" class="btn-ville-ref">Edmonton</option>
                                <option type="submit" class="btn-ville-ref">Saint Louis</option>
                                <option type="submit" class="btn-ville-ref">Reno</option>
                                <option type="submit" class="btn-ville-ref">Saint Petersburg</option>
                                <option type="submit" class="btn-ville-ref">Boise</option>
                                <option type="submit" class="btn-ville-ref">Santa Barbara</option>
                                <option type="submit" class="btn-ville-ref">Clearwater</option>
                                <option type="submit" class="btn-ville-ref">Wilmington</option>
                                <option type="submit" class="btn-ville-ref">Metairie</option>
                                <option type="submit" class="btn-ville-ref">Franklin</option>
                            </select>
                        </div>
                        <div class="field">
                            <div class="next-1 btn"><p>{% trans 'Suivant' %}</p></div>
                        </div>
                        <a href="{% url 'login' %}"><span
                                class="new-account">{% trans "Je possède déjà un compte" %}</span></a>
                    </div>
                    <div class="page slide-page">
                        <div class="title">
                            {% trans 'Personnel' %}
                        </div>
                        <div class="field">
                            <div class="label">
                                {% trans 'Mail' %}
                            </div>
                            <input type="mail" name="mail" class="input mail">
                            <div class="failInfo none">*{% trans 'Ce champ ne peut être vide' %}</div>
                        </div>
                        <div class="field">
                            <div class="label">
                                {% trans 'Mot de passe' %}
                            </div>
                            <input type="password" name="password" class="input pwd1">
                            <div class="failInfo">
                                *{% trans 'Le mot de passe doit contenir entre 8 et 15 caractères' %}</div>
                        </div>
                        <div class="field">
                            <div class="label">
                                {% trans 'Comfirmation du mot de passe' %}
                            </div>
                            <input class="input pwd2" type="password">
                            <div class="failInfo none">*{% trans 'Veuillez entrer le même mot de passe' %}</div>
                        </div>
                        <div class="button-field flex">
                            <div class="split-button prev prev-2 btn"><p>{% trans 'Précédent' %}</p></div>
                            <div class="split-button prev next-2 btn"
                            ><p>{% trans 'Suivant' %}</p></div>
                        </div>
                    </div>
                    <div class="page slide-page">
                        <div class="title">
                            {% trans 'Date' %}:
                        </div>
                        <div class="field">
                            <div class="label">
                                {% trans 'Date de naissance' %}
                            </div>
                            <input type="date" name="birthDate" class="input birthDate">
                            <div class="failInfo none">*{% trans 'Champ incorrect' %}</div>
                        </div>
                        <div class="button-field flex">
                            <div class="split-button prev-3 prev btn"><p>{% trans 'Précédent' %}</p></div>
                            <div class="split-button next-3 next btn"><p>{% trans 'Suivant' %}</p></div>
                        </div>
                    </div>
                    <div class="page slide-page">
                        <div class="title">
                            {% trans 'Confirmation' %}
                        </div>
                        <div class="g-recaptcha" data-sitekey="6LfCDW0kAAAAAD9ujkaPcwWEG6HTE0z9hoyq88fx"></div>
                        <div class="button-field flex">
                            <div class="split-button prev-4 prev btn"><p>{% trans 'Précédent' %}</p></div>
                            <button type="submit" class="split-button next-4 next save btn" value="type">{% trans 'Suivant' %}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'JS/register.js' %}"></script>
{% endblock %}