/* GENERAL */
html {
    --color: #297373;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #fffefe;
}

main{
    min-height: 75vh;
}

a{
    text-decoration: none;
}

.vertical-center {
    vertical-align: center;
}

.justify-center {
    justify-content: center;
}

.text-align{
    text-align: center;
}

.flex{
    display: flex;
}

.right {
    margin-left: 15px;
}

.left {
    margin-right: 15px;
}

.font-30{
    font-size: 30px;
}

.font-22{
    font-size: 22px;
}

.padding-t-5{
    padding-top: 5%;
}

.padding-b-5{
    padding-bottom: 5%;
}

.padding-b-3{
    padding-bottom: 3%;
}

.padding-b-2{
    padding-bottom: 2%;
}

.padding-b-1{
    padding-bottom: 1%;
}