.grid {
    display: grid;
    width: 75%;
    grid-template-columns: repeat(3, 1fr);
}
aside{
    width: 23%;
}
.user{
    display: flex;
}
h1{
    padding-left: 2rem;
    padding-top: 2rem;
}
.img{
    height: 4em;
    width: 4em;
    border-radius: 50%;
    overflow: hidden;
    margin: 1rem;
}
.data-card {
    display: flex;
    flex-direction: column;
    width: 20rem;
    min-height: 20.75em;
    overflow: hidden;
    border-radius: .5em;
    text-decoration: none;
    background: white;
    margin: 2em auto;
    box-shadow: 0 1.5em 2.5em -.5em white;
}
.mail{
    display: flex;
}
.p{
    height: fit-content;
    margin: auto 0;
}
img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.container{
    width: 100%;
    display: flex;
}
.img-card {
    width: 100%;
    height: 220px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 10px;
}
.star-icon{
        display: flex;
    width: 17px;
}
.align{
    align-items: center;
}
.flex{
    display: flex;
}
.nav-localisation{
    display: flex;
    flex-direction: row;
}
.text{
   color: #2E3C40;
}
.nom{
    font-size: 1.3rem;
}