.text_a{
    padding-left: 15px;
    padding-right: 15px;
}

.top-4px{
    padding-top: 4px;
}

.border{
    border: 4px solid #297373;
    border-radius: 20px;
}

#lastComment{
    height: 150px;
}

#galerie{
    height: 300px;
}

.margin-bottom-5{
    margin-bottom: 5%;
}

.padding-l-3{
    padding-left: 3%;
}

.padding-r-3{
    padding-right: 3%;
}

.taille_container{
    width: 100%;
}