{% extends 'source/base.html' %}
{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/header-footer.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/index.css' %}"/>
{% endblock %}

{% block header %}
    {% include "source/header.html" %}
{% endblock %}

{% block main %}
    <div>
        {% if restaurant_exist %}
            <h1> Votre restaurant est inscrit : </h1>
            <h2> {{ restaurant.nom }}</h2>
        {% else %}
            {% if nombre == 0 %}
                <a href="{% url 'formulaire_demande_restaurateur' %}">Créer mon formulaire</a>
            {% elif nombre == 1 %}
                {% if demande.traite == 0 %}
                    <h1> Vous avez une demande en cours </h1>
                    <p> {{ demande.date_creation }} </p>
                    <p> {{ demande.nom }} </p>
                {% elif demande.traite == 1 %}
                    <p> Votre demande a été refusée, vous pourrez bientôt la modifier </p>
                {% elif demande.traite == 2 %}
                    <p> vous pouvez modifier votre demande </p>
                    <a href="{% url 'formulaire_demande_restaurateur' %}">Créer mon formulaire</a>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>

{% endblock %}

{% block footer %}
    {% include "source/footer.html" %}
{% endblock %}