<footer>
    {% load i18n %}
<div class="flex column height">
        <p id="copyright">{% trans '© 2022 Eat Advisor LLC Tous droits réservés.' %}</p>
</div>
    <div class="flex dropdown">
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        <div class="nav-item dropdown">
            <select  class="select-footer" onchange="window.location.href=this.value;">
                <option value="{% trans 'Langues' %}">{% trans 'Langues' %}</option>
                {% for language in languages %}
                    <option value="/{{ language.code }}">{{ language.name_local }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</footer>