{% load static %}
{% load i18n %}
<header>
    <nav>
        {% if mailR %}
            <a class="img-logo-container" href="{% url 'index_restaurateur' %}">
                <img class="img-logo" src="{% static '/Image/logo.png' %}" alt="logo de l'utilisateur"></a>
        {% elif mail %}
            <a class="img-logo-container" href="{% url 'index' %}">
                <img class="img-logo" src="{% static '/Image/logo.png' %}" alt="logo de l'utilisateur"></a>
        {% else %}
            <a class="img-logo-container" href="{% url 'index_administrateur' %}">
                <img class="img-logo" src="{% static '/Image/logo.png' %}" alt="logo de l'utilisateur"></a>
        {% endif %}
        <ul>
            {% if mail %}
                <li><a href="{% url 'groupe' %}" class="btn-header">{% trans 'Groupe' %}</a></li>
                <li><a href="{% url 'creationGroup' %}" class="btn-header">{% trans 'Créer un Groupe' %}</a></li>
                <li><a href="{% url 'logout' %}" class="btn-header">{% trans 'Deconnexion' %}</a></li>
                <a class="img-container-user" href="{% url 'modifUser' %}">
                    <img src="{{ photo }}" alt="marche pas" class="img-user">
                </a>
            {% elif mailR %}
                {% if restaurant_exist == true%}
                    <li><a href="{% url 'modif_resto' %}" class="btn-header">{% trans 'Mon restaurant' %}</a></li>
                {% endif %}
                <li><a href="{% url 'logout' %}" class="btn-header">{% trans 'Deconnexion' %}</a></li>
                <a class="img-container-user" href="#">
                    <img src="{{ profil_picture }}" alt="marche pas" class="img-user">
                </a>
            {% elif mailA %}
                <li><a href="{% url 'logout' %}" class="btn-header">{% trans 'Deconnexion' %}</a></li>
            {% else %}
                <li><a href="{% url 'login' %}" class="btn-header">{% trans 'Connexion' %}</a></li>
            {% endif %}
        </ul>
    </nav>
</header>