<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>




      {% csrf_token %}
                <div class="page slide-page">
                    <div class="title">
                        Basic Info:
                    </div>
                    <div class="field">
                        <div class="label">
                            First Name
                        </div>
                        <!-- <input class="firstName" type="text"> -->
                        {% render_field form.nom  placeholder="prénom" class+="input" %}
                        <div class="failInfo none">*Ce champs ne peut être vide</div>
                    </div>
                    <div class="field">
                        <div class="label">
                            Last Name
                        </div>
                        <input class="lastName" type="text">
                        <div class="failInfo none">*Ce champs ne peut être vide</div>
                    </div>
                    <div class="field">
                        <div class="label">
                            Pseudo
                        </div>
                        <input class="pseudo" type="text">
                        <div class="failInfo none">*Ce champs ne peut être vide</div>
                    </div>
                    <div class="field">
                        <div class="label">
                            Birth Date
                        </div>
                        <input class="date" type="date">
                        <div class="failInfo none">*Ce champs ne peut être vide</div>
                    </div>
                    <div class="field">
                        <div class="next-1"><p>Next</p></div>
                    </div>
                </div>
                <div class="page slide-page">
                    <div class="title">
                        Personal
                    </div>
                    <div class="field">
                        <div class="label">
                            Mail
                        </div>
                        <input class="mail" type="email">
                        <div class="failInfo none">*Ce champs ne peut être vide</div>
                    </div>
                    <div class="field">
                        <div class="label">
                            Pwd
                        </div>


                        <input class="pwd1" type="password">
                        <div class="failInfo">*Le mot de passe doit contenir entre 8 et 15 caractères</div>
                    </div>
                    <div class="field">
                        <div class="label">
                            Confirm Pwd
                        </div>
                        <input class="pwd2" type="password">
                        <div class="failInfo none">*Veuillez entrer le meme mot de passe</div>
                    </div>
                    <div class="button-field flex">
                        <div class="split-button prev prev-2"><p>Previous</p></div>
                        <div class="split-button next next-2"><p>Next</p></div>
                    </div>
                </div>
                <div class="page slide-page">
                    <div class="title">
                        Verif
                    </div>
                    <div class="field">
                        <div class="label">
                            Enter code
                        </div>
                        <input type="text">
                    </div>
                    <div class="button-field flex">
                        <div class="split-button prev-3 prev"><p>Previous</p></div>
                        <div class="split-button next-3 next"><p>Next</p></div>
                    </div>
                </div>
                <div class="page slide-page">
                    <div class="title">
                        Choose
                    </div>
                    <div class="question-container flex">
                        <div class="flex horizontal">
                            <div class="item left">
                                <div class="valid none">
                                    <div class="check fas fa-check validate"></div>
                                </div>
                                <div class="img">
                                    <img class="food-img" src="{% static '/Image/fastFood.jpeg'%}" alt="FastFood">
                                </div>
                                <div class="name-img">
                                    FastFood
                                </div>
                            </div>
                            <div class="item">
                                <div class="valid none">
                                    <div class="check fas fa-check validate"></div>
                                </div>
                                <div class="img">
                                    <img class="food-img " src="{% static '/Image/indian.jpeg'%}" alt="Indain">
                                </div>
                                <div class="name-img">
                                    Indian
                                </div>
                            </div>
                            <div class="item right">
                                <div class="valid none">
                                    <div class="check fas fa-check validate"></div>
                                </div>
                                <div class="img">
                                    <img class="food-img " src="{% static '/Image/italian.jpeg'%}" alt="Italian">
                                </div>
                                <div class="name-img">
                                    Italian
                                </div>
                            </div>
                        </div>
                        <div class="flex horizontal">
                            <div class="item left">
                                <div class="valid none">
                                    <div class="check fas fa-check validate"></div>
                                </div>
                                <div class="img">
                                    <img class="food-img " src="{% static '/Image/fastFood.jpeg' %}" alt="indian">
                                </div>
                                <div class="name-img">
                                    Indian
                                </div>
                            </div>
                            <div class="item">
                                <div class="valid none">
                                    <div class="check fas fa-check validate"></div>
                                </div>
                                <div class="img">
                                    <img class="food-img " src="{% static '/Image/fastFood.jpeg'%}" alt="indian">
                                </div>
                                <div class="name-img">
                                    Indian
                                </div>
                            </div>
                            <div class="item right">
                                <div class="valid none">
                                    <div class="check fas fa-check validate"></div>
                                </div>
                                <div class="img">
                                    <img class="food-img " src="{% static '/Image/fastFood.jpeg'%}" alt="indian">
                                </div>
                                <div class="name-img">
                                    Indian
                                </div>
                            </div>
                        </div>
                        <div class="flex horizontal">
                            <div class="item left">
                                <div class="valid none">
                                    <div class="check fas fa-check validate"></div>
                                </div>
                                <div class="img">
                                    <img class="food-img " src="{% static '/Image/fastFood.jpeg'%}" alt="indian">
                                </div>
                                <div class="name-img">
                                    Indian
                                </div>
                            </div>
                            <div class="item">
                                <div class="valid none">
                                    <div class="check fas fa-check validate"></div>
                                </div>
                                <div class="img">
                                    <img class="food-img " src="{% static '/Image/fastFood.jpeg'%}" alt="indian">
                                </div>
                                <div class="name-img">
                                    Indian
                                </div>
                            </div>
                            <div class="item right">
                                <div class="valid none">
                                    <div class="check fas fa-check validate"></div>
                                </div>
                                <div class="img">
                                    <img class="food-img" src="{% static '/Image/fastFood.jpeg'%}" alt="indian">
                                </div>
                                <div class="name-img">
                                    Indian
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="button-field flex">
                        <div class="split-button prev-4 prev"><p>Previous</p></div>
                        <button class="split-button next-4 next">Submit</button>
                    </div>
                </div>
</body>
</html>