{% load static %}
<header>
    <nav>
        <a href="{% url 'index' %}"><img src="{% static '/Image/logo.png'%}" alt=""></a>
        <!-- Penser a assigner href pour la page d'acceuil -->
        <ul>
            <!-- Penser a assigner href pour le bouton connexion -->
            {% if idUser %}
            <li><a href="#" class="btn">Groupe</a></li> <!-- Penser a assigner href pour le bouton connexion -->
            {% endif %}
            {% if idUser %}
            <li><a href="{% url 'logout' %}" class="btn">Deconnexion</a></li>
            {% else %}
            <li><a href="{% url 'login' %}" class="btn">Connexion</a></li>
            {% endif %}
        </ul>
    </nav>
</header>