{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/CSS/register-login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>login</title>
</head>
<body>
<div class="backward">
    <div class="home-login fa fa-home"></div>
</div>
<div class="body flex vertical-center justify-center">
    <div class="container">
        <form action="#" method="POST" class="post-form ">
            {% csrf_token %}
            <div class="title-setting">SignIn</div>
            <div class="field">
                <div class="label">
                    Mail
                </div>
                {% render_field form.mail class+="input mail" %}
            </div>
            <div class="field">
                <div class="label">
                    Password
                </div>
                {% render_field form.password class+="input password" %}
            </div>
            <div class="field">
                <button class="next-1">connection</button>
            </div>
        </form>

    </div>
</div>


</body>
</html>