{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
          <link rel="stylesheet" type="text/css" href="{% static 'CSS/tes.css' %}"/>
    <title>My test page</title>
  </head>
  <body>
  <main>
    <ul>
        <li>bonjour {{ test }}</li>
    {% for element in info %}
        <li>{{ element.mail }}</li>
    {% endfor %}
    </ul>
  <form action="#" method="POST" class="post-form ">
      {% csrf_token %}
      {% render_field form.nom placeholder="nom" class+="tout"%}
            <button >submit</button>
  </form>
  </main>
  </body>
</html>

