{% load i18n %}
{% for element in restaurants %}
    <a class="decoration-none hover" href="{% url 'vueRestaurant' element.pk %}">
        <div class="cards ">
            <div class="image-container-search-results">
                <img class="image-search-results" src="{{ element.image_front.url }}" alt="image Restaurant">
            </div>
            <div class="info-container">
                <div class="flex">
                    <span class="field">{{ element.nom }},</span>
                    {% if element.note != -1 %}
                        {% for i in list_etoiles_virgules %}
                            {% if element.note >= i.nombre %}
                                <div class="star-icon">
                                    <box-icon type='solid' color="#ffb503" ; name='star'></box-icon>
                                </div>
                            {% else %}
                                {% if element.note >= i.nombre_virgule %}
                                    <div class="star-icon">
                                        <box-icon type='solid' color="#ffb503" name='star-half'></box-icon>
                                    </div>
                                {% else %}
                                    <div class="star-icon">
                                        <box-icon color="#ffb503" name='star'></box-icon>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <div class="text">{% trans 'Pas de note' %}</div>
                    {% endif %}
                </div>
                <span class="field">{{ element.adresse }} {{ element.zip_code }}</span>
                <span class="field">{{ element.ville }}</span>
            </div>
        </div>
    </a>
    {% if forloop.counter != restaurants|length %}
        <div class="border-bottom"></div>
    {% endif %}
{% endfor %}