{% extends 'source/base.html' %}
{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/header-footer.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/vueRestaurant.css' %}"/>

{% endblock %}
{% block header %}
    {% include "source/header.html" %}
{% endblock %}

{% block main %}
    {% for element in restaurant %}
        <div>{{ element.nom }}</div>
        <div>{{ element.adresse }}</div>
        <div>{{ element.pays }}</div>
    {% endfor %}
{% endblock %}

{% block footer %}
    {% include "source/footer.html" %}
{% endblock %}


